<div class="col-sm-6 no-pad slideanim" id="bride">
	<h3>Bride's Side</h3>
	<div id="bride-party" class="carousel slide text-center party-carousel" data-interval="false">
		<div class="carousel-indicators party-indicators">
			<a title="Matron of Honor - Payton Gartman" data-target="#bride-party" data-slide-to="0" class="active"><%= image_tag "payton.jpg", class:"img-rounded" %></a>
			<a title="Matron of Honor - Sarah Hight" data-target="#bride-party" data-slide-to="1"><%= image_tag "saymo.jpg", class:"img-rounded" %></a>
			<a title="Bridesmaid - Steph Hubbard" data-target="#bride-party" data-slide-to="2"><%= image_tag "steph.jpg", class:"img-rounded" %></a>
			<a title="Bridesmaid - Erin Derhaag" data-target="#bride-party" data-slide-to="3"><%= image_tag "erin.jpg", class:"img-rounded" %></a>
			<a title="Bridesmaid - Amber Distler" data-target="#bride-party" data-slide-to="4"><%= image_tag "amber.jpg", class:"img-rounded" %></a>
			<a title="Bridesmaid - Sarah Lindquist" data-target="#bride-party" data-slide-to="5"><%= image_tag "sarah.jpg", class:"img-rounded" %></a>
			<a title="Bridesmaid - Gretchen Yates" data-target="#bride-party" data-slide-to="6"><%= image_tag "gretchen.jpg", class:"img-rounded" %></a>
		</div>
		<div class="carousel-inner">
			<div class="item active">
				<h4>Matron of Honor - Payton Gartman</h4>
				<%= image_tag "payton.jpg", class:"img-rounded party-img" %>
				<p>
					Payton has been by my side since we first navigated the halls of Homewood Middle School! We've shared everything together - volleyball, powderpuff football, bonfire dates, and more. 
					Through all of life’s ups and downs, our friendship has remained steady and near and dear to my heart. 
					She is marrying Josh Murphy in April 2018, and they will reside in Atlanta, GA! 
				</p>
			</div>
			<div class="item">
				<h4>Matron of Honor - Sarah Hight</h4>
				<%= image_tag "saymo.jpg", class:"img-rounded party-img" %>
				<p>
					Sarah transferred to Homewood in middle school, and her arrival was the start of a life-long friendship. 
					We were neighbors growing up, and life came full circle when she moved to Charlotte last year. From nights shared in her house down the street to nights on the town with her dance moves, she's always been there for me. 
					She recently married the love of her life, Eric Hight, and they will both reside in Chicago, IL soon!
				</p>
			</div>
			<div class="item">
				<h4>Bridesmaid - Stephanie Hubbard</h4>
				<%= image_tag "steph.jpg", class:"img-rounded party-img" %>
				<p>
					Steph was my roommate in college, and she is like a sister to me. So many memories have been made over Gamecock football, long walks, wine dates, 
					and way too much mexican food and margaritas - I can’t imagine what my life would be like without her. Steph lives in Charlotte, NC and just got 
					engaged in December to Jerry Hinton. I am so excited for them and cannot wait to stand by her side in 2019!
				</p>
			</div>
			<div class="item">
				<h4>Bridesmaid - Erin Nuccitelli</h4>
				<%= image_tag "erin.jpg", class:"img-rounded party-img" %>
				<p>
					Erin and I first met when she moved to Charlotte in 2013. We started as co-workers, but after many shared moments over wine, football, and boys these past few years, 
					my friendship with her has become invaluable to me! Fun fact: Brian and Dom (Erin's now husband) used to be roommates! We have so much fun going on double dates and sharing this time in life together. Erin and Dom were married in Charlotte in October!
					</p>
			</div>
			<div class="item">
				<h4>Bridesmaid - Amber Distler</h4>
				<%= image_tag "amber.jpg", class:"img-rounded party-img" %>
				<p>
					Amber was my roommate when I studied abroad in Salamanca, Spain in 2011, and from the moment we met it felt like we had been friends all 
					our lives! We had so much fun in Spain - our madre was amazing and we loved trying new pastries and fully embraced the siesta lifestyle! She shares my love for travel, and each year we go somewhere new together. I am so happy she is making the trip from Kansas City, MO!
				</p>
			</div>
			<div class="item">
				<h4>Bridesmaid - Sarah Lindquist</h4>
				<%= image_tag "sarah.jpg", class:"img-rounded party-img" %>
				<p>
					Sarah moved to Charlotte in 2015, and we became friends instantly. From trips to Savannah and Asheville, to the many nights shared 
					with our “Ingersoll Rand trio”, Charlotte wouldn't be the same without her. We share a love for wine, and we recently got to cheers to her engagement to Joe Donikowski! They are getting married in Charlotte in September, and I am so happy for them!
				</p>
			</div>
			<div class="item">
				<h4>Bridesmaid - Gretchen Yates</h4>
				<%= image_tag "gretchen.jpg", class:"img-rounded party-img" %>
				<p>
					I first met Gretchen when she visited Charlotte with a friend to see a Yellowcard concert, 
					and we immediately clicked! She shares my love for adventure, and she inspired Brian and me to 
					go to Iceland after seeing pictures from her trip. Gretchen went to Virginia Tech and currently lives in Washington D.C.! I am so excited to be joining her family. 
				</p>
			</div>
		</div>
		<a class="left pc carousel-control" href="#bride-party" data-slide="prev">
			<i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right pc carousel-control" href="#bride-party" data-slide="next">
			<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
			<span class="sr-only">Next</span>
		</a>
	</div>
</div>