<div class="col-sm-6 no-pad slideanim" id="groom">
	<h3>Groom's Side</h3>
	<div id="groom-party" class="carousel slide text-center party-carousel" data-interval="false">
		<div class="carousel-indicators party-indicators">
			<a title="Best Man - Jamie Matthews" data-target="#groom-party" data-slide-to="0" class="active"><%= image_tag "jamie.jpg", class:"img-rounded" %></a>
			<a title="Groomsman - Brian Moran" data-target="#groom-party" data-slide-to="1"><%= image_tag "moran.jpg", class:"img-rounded" %></a>
			<a title="Groomsman - Nick Kluthe" data-target="#groom-party" data-slide-to="2"><%= image_tag "kluthe.jpg", class:"img-rounded" %></a>
			<a title="Groomsman - Myles Bane" data-target="#groom-party" data-slide-to="3"><%= image_tag "myles.jpg", class:"img-rounded" %></a>
			<a title="Groomsman - Michael D'Onofrio" data-target="#groom-party" data-slide-to="4"><%= image_tag "mike.jpg", class:"img-rounded" %></a>
			<a title="Groomsman - Joseph Benus" data-target="#groom-party" data-slide-to="5"><%= image_tag "joe.jpg", class:"img-rounded" %></a>
			<a title="Groomsman - Tyler Robbins" data-target="#groom-party" data-slide-to="6"><%= image_tag "tyler.jpg", class:"img-rounded" %></a>
		</div>
		<div class="carousel-inner">
			<div class="item active">
				<h4>Best Man - Jamie Matthews</h4>
				<%= image_tag "jamie.jpg", class:"img-rounded party-img" %>
				<p>
					Jamie has been my best friend since we first met back in 5th grade at Wexford elementary. We've done practically everything together since then, 
					whether it be playing in a band, tennis, inline hockey, paintball, skiing, joining a fraternity, you name it. We've managed to stay
					very close despite Jamie living in New Jersey and me living in North Carolina, visiting each other frequently. 
				</p>
			</div>
			<div class="item">
				<h4>Groomsman - Brian Moran</h4>
				<%= image_tag "moran.jpg", class:"img-rounded party-img" %>
				<p>
					Brian and I have been friends since we first met back in high school. We've spent countless hours together hanging in 
					each other's basements, playing backyard football and talking fantasy football strategy (Brian is the commissioner of the fantasy league we've been in for
					10 years). We've remained very close since high school, visiting each other's respective universities and home towns - Brian now lives in Washington D.C.
				</p>
			</div>
			<div class="item">
				<h4>Groomsman - Nick Kluthe</h4>
				<%= image_tag "kluthe.jpg", class:"img-rounded party-img" %>
				<p>
					Nick and I have been pals since high school where we first met playing tennis at the local athletic club and on the high school team. Nick and I both went to
					Penn State and shared the same major. We even interned together at Westinghouse Electric Company 
					where we dubbed ourselves "The Winterns". Nick now lives in Nashville, and we continue to see each other in Tennessee, North Carolina,
					and Alabama (at Kirby's lakehouse).
				</p>
			</div>
			<div class="item">
				<h4>Groomsman - Myles Bane</h4>
				<%= image_tag "myles.jpg", class:"img-rounded party-img" %>
				<p>
					Myles and I first met back at Penn State when we both pledged Sigma Chi together. We've had a lot of great experiences together in college,
					including co-writing various hit singles produced in my humble frat house recording studio. We've kept in touch after school, going 
					to events like Yankees/Red Sox games in Boston and The Preakness Stakes...plus our annual college football trips which Myles spearheaded.
				</p>
			</div>
			<div class="item">
				<h4>Groomsman - Michael D'Onofrio</h4>
				<%= image_tag "mike.jpg", class:"img-rounded party-img" %>
				<p>
					Mike and I met at Penn State through our fraternity, Sigma Chi. Mike and I first grew close when we were forced to endure living together
					in a cramped supplemental room with 2 other guys at the frat house which we dubbed "Supplement-HELL". Even after the close-quarters living, we remained
					very close friends, visiting each other and going on annual college football tours. I was also proudly a part of Mike's wedding party
					last year.
				</p>
			</div>
			<div class="item">
				<h4>Groomsman - Joseph Benus</h4>
				<%= image_tag "joe.jpg", class:"img-rounded party-img" %>
				<p>
					Joe and I first became friends at Penn State where we pledged Sigma Chi together. We've shared a lot of awesome memories together back in college, and have kept in
					touch ever since. Joe came to visit me at my former home in Panama City Beach, FL, and has also visited every single apartment I have ever lived in since graduating PSU. Joe and I also get to see each other
					on our annual college football tour.
				</p>
			</div>
			<div class="item">
				<h4>Groomsman - Tyler Robbins</h4>
				<%= image_tag "tyler.jpg", class:"img-rounded party-img" %>
				<p>
					I met Tyler in Pell City, Alabama...my first trip to Kirby's lakehouse. We first bonded playing a drinking game he introduced me to called "Nemo". Tyler ended up
					winning, though I held my ground. Tyler and I get to see each other several times a year, whether it be holidays, random trips to Birmingham/Charlotte, or Alabama lakehouse
					visits. I'm excited to be a part of Tyler's family come October.
				</p>
			</div>
		</div>
		<a class="left carousel-control pc" href="#groom-party" data-slide="prev">
			<i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control pc" href="#groom-party" data-slide="next">
			<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
			<span class="sr-only">Next</span>
		</a>
	</div>
</div>