<section id="things-to-do">
	<h1 class="slideanim">Things To Do</h1>
	<div class="row">
		<div class="col-sm-12 slideanim">
			<p class="alert-msg"><strong>If you've got some time to kill and want to explore Charlotte, here are some of our favorite activities the Queen City has to offer</strong></p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 slideanim to-do">
			<h3>Carolina Panthers Game</h3>
			<%= image_tag "cam.png", class: "img-rounded" %>
			<p class="text-left">Keep pounding at the Ravens vs. Panthers game at Bank of America Stadium - Sunday at 1:00 PM</p>
			<p class="text-left"><i class="fa fa-map-marker text-danger" aria-hidden="true"></i> 800 S Mint St, Charlotte, NC 28202</p>
		</div>
		<div class="col-sm-4 slideanim to-do">
			<h3>Breweries</h3>
			<%= image_tag "sycamore.jpg", class: "img-rounded" %>
			<p class="text-left">Get sauced at one of the many breweries Charlotte has on tap...our favorite is Sycamore</p>
			<p class="text-left"><i class="fa fa-map-marker text-danger" aria-hidden="true"></i> 2161 Hawkins St, Charlotte, NC 28203</p>
		</div>
		<div class="col-sm-4 slideanim to-do">
			<h3>Charlotte Rail Trail</h3>
			<%= image_tag "rail_trail.jpg", class: "img-rounded" %>
			<p class="text-left">Explore the South Side of Charlotte on this 4-mile trail - we recommend doing it on one of Charlotte's stationless electric scooters or bikes</p>
			<p class="text-left"><i class="fa fa-map-marker text-danger" aria-hidden="true"></i> Starts at 105 E Morehead St, Charlotte, NC 28202</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 slideanim to-do">
			<h3>The Epicentre</h3>
			<%= image_tag "epicentre.jpg", class: "img-rounded" %>
			<p class="text-left">Check out some of the cool bars, restaurants and the bowling alley in the Charlotte Epicentre</p>
			<p class="text-left"><i class="fa fa-map-marker text-danger" aria-hidden="true"></i> 210 E Trade St, Charlotte, NC 28202</p>
		</div>
		<div class="col-sm-4 slideanim to-do">
			<h3>Rooster's Kitchen</h3>
			<%= image_tag "roosters.jpg", class: "img-rounded" %>
			<p class="text-left">Enjoy some urban Southern cooking at Rooster's Wood-Fired Kitchen, one of our favorite uptown restaurants</p>
			<p class="text-left"><i class="fa fa-map-marker text-danger" aria-hidden="true"></i> 150 N College St, Charlotte, NC 28202</p>
		</div>
		<div class="col-sm-4 slideanim to-do">
			<h3>Freedom Park</h3>
			<%= image_tag "freedom.jpg", class: "img-rounded" %>
			<p class="text-left">Take a walk through Freedom Park where Brian proposed!</p>
			<p class="text-left"><i class="fa fa-map-marker text-danger" aria-hidden="true"></i> 1900 East Blvd, Charlotte, NC 28203</p>
		</div>
		<div class="col-sm-12 slideanim">
			<p class="top-pad"><strong>Some other good options to explore are the French Quarter in Uptown, the NASCAR Hall of Fame, or Dilworth</strong></p>
		</div>
	</div>

</section>