<div class="item active">
	<%= image_tag "engagement_pic_1.jpg", class:"engagement-img landscape" %>
</div>
<div class="item">
	<%= image_tag "engagement_pic_2.jpg", class:"engagement-img portrait" %>
</div>
<div class="item">
	<%= image_tag "engagement_pic_3.jpg", class:"engagement-img landscape" %>
</div>
<div class="item">
	<%= image_tag "engagement_pic_4.jpg", class:"engagement-img landscape" %>
</div>
<div class="item">
	<%= image_tag "engagement_pic_5.jpg", class:"engagement-img portrait" %>
</div>
<div class="item">
	<%= image_tag "engagement_pic_6.jpg", class:"engagement-img landscape" %>
</div>
<div class="item">
	<%= image_tag "engagement_pic_7.jpg", class:"engagement-img portrait" %>
</div>
<div class="item">
	<%= image_tag "engagement_pic_8.jpg", class:"engagement-img portrait" %>
</div>
<div class="item">
	<%= image_tag "engagement_pic_9.jpg", class:"engagement-img landscape" %>
</div>
<div class="item">
	<%= image_tag "engagement_pic_10.jpg", class:"engagement-img portrait" %>
</div>
<div class="item">
	<%= image_tag "engagement_pic_11.jpg", class:"engagement-img portrait" %>
</div>
<div class="item">
	<%= image_tag "engagement_pic_12.jpg", class:"engagement-img portrait" %>
</div>
<div class="item">
	<%= image_tag "engagement_pic_13.jpg", class:"engagement-img portrait" %>
</div>